# Heather Johnston
**hajohns@umich.edu**

*Stats 507, Pandas Topics, Fall 2021*

# Question 0: Topic in Pandas

## Stack and Unstack
* Stack and Unstack are similar to "melt" and "pivot" methods for transforming data
* R users may be familiar with "pivot_wider" and "pivot_longer" (formerly "spread" and "gather")
* Stack transforms column names to new index and values to column

## Example: Stack
* Consider the `example` DataFrame below to be measurements of some value taken on different days at different times.
* It would be natural to want these to be "gathered" into long format, which we can do using `stack`

In [22]:
example = pd.DataFrame({"day":["Monday", "Wednesday", "Friday"],
                        "morning":[4, 5, 6],
                        "afternoon":[8, 9, 0]})
example.set_index("day", inplace=True)
print(example)
print(example.stack())

           morning  afternoon
day
Monday           4          8
Wednesday        5          9
Friday           6          0
day
Monday     morning      4
           afternoon    8
Wednesday  morning      5
           afternoon    9
Friday     morning      6
           afternoon    0
dtype: int64

## Example: Unstack
* Conversely, for displaying data, it's often handy to have it in a wider format
* Unstack is especially convenient after using `groupby` on a dataframe

In [33]:
rng = np.random.default_rng(100)
long_data = pd.DataFrame({"group":["a", "a", "a", "a", "b", "b", "b", "b"],
                          "program":["x", "y", "x", "y", "x", "y", "x", "y"],
                         "score":rng.integers(0, 100, 8),
                         "value":rng.integers(0, 20, 8)
                         })
long_data.groupby(["group", "program"]).mean()
long_data.groupby(["group", "program"]).mean().unstack()

        score       value
program     x     y     x     y
group
a        44.0  71.0  14.5  15.0
b        26.0  16.0  13.0  16.5